<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Econnect!</title>
</head>
<body>
    <h2>Welcome to Econnect!</h2>
    <p>Thank you for signing up. We are excited to have you on board.</p>
    <!-- You can include any other information or instructions here -->
    <p>You can store details of your loved ones here!</p>
    <p>If you have any questions or need assistance, feel free to contact our support team at support@yourwebsite.com.</p>
    <p>Best regards,<br>
    E Connect Team</p>
</body>
</html>
